@font-face
  font-family: SourceSans
  src: url("SourceSansPro-Italic.woff2")
  font-weight: normal
  font-style: italic

@font-face
  font-family: SourceSans
  src: url("SourceSansPro-Regular.woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: SourceSans
  src: url("SourceSansPro-Bold.woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: SourceSans
  src: url("SourceSansPro-BoldItalic.woff2")
  font-weight: bold
  font-style: italic

@font-face
  font-family: SourceCode
  src: url("SourceCodePro-Italic.woff2")
  font-weight: normal
  font-style: italic

@font-face
  font-family: SourceCode
  src: url("SourceCodePro-Regular.woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: SourceCode
  src: url("SourceCodePro-Bold.woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: SourceCode
  src: url("SourceCodePro-BoldItalic.woff2")
  font-weight: bold
  font-style: italic
