$fg-color1: #dedede
$fg-color2: #fdce93
$fg-color3: #f0dfaf
$bg-color1: #2b2b2b
$bg-color2: #000000
$bg-color3: #222222
$bc-height: 4ex
$bc-div-width: 2ex

@import 'fonts'

div, header, footer, body
  margin: 0
  padding: 0
  box-sizing: border-box

%basic-text
  font-family: SourceSans, sans
  text-decoration: none
  color: inherit
  // line-height: 1.75ex

body, header, footer, code, a, p
  @extend %basic-text

code
  font-family: SourceCode, monospace

.menu_left, .menu_right
  display: flex
  flex-wrap: wrap

.menu_left
  justify-content: flex-start

.menu_right
  justify-content: flex-end

.menu_entry
  min-width: 100px
  flex: 1
  display: flex
  justify-content: center

.content
  max-width: 768px
  width: 100%
  padding: 20px
  background: $bg-color3

header, footer
  background: $bg-color1
  display: flex

header
  justify-content: space-between

footer
  justify-content: center
  font-size: small

main
  flex: 1
  display: flex
  justify-content: center

body
  background: $bg-color2
  display: flex
  font-size: 15pt
  min-height: 100vh
  flex-direction: column
  color: $fg-color1

h1, h2, h3, h4, h5, header, footer, .breadcrumbs
  color: $fg-color2

hr
  color: $fg-color2
  border-top-style: solid

.breadcrumbs
  font-size: small
  height: $bc-height
  display: grid
  vertical-align: middle
  grid-auto-flow: column
  grid-gap: 0.2em 0
  grid-template-columns: repeat(20, max-content $bc-div-width)
  padding-bottom: 1.5*$bc-height
  div:nth-of-type(4n+1)
    background: $fg-color2
  div:nth-of-type(4n+2)
    background: $fg-color3
    border-left-color: $fg-color2
  div:nth-of-type(4n+3)
    background: $fg-color3
  div:nth-of-type(4n)
    background: $fg-color2
    border-left-color: $fg-color3
  div:last-of-type
    background: transparent

.breadcrumb-entry
  min-width: 10ex
  height: $bc-height
  color: $bg-color1
  display: table-cell
  padding-left: 1ex
  padding-right: 1ex
  text-align: center
  vertical-align: middle

.breadcrumb-div
  width: $bc-div-width
  border-top: 0.5*$bc-height solid transparent
  border-left: $bc-div-width solid
  border-bottom: 0.5*$bc-height solid transparent

.date
  font-style: italic
  font-size: small
