{% import "macros.html" as macros %}
<!DOCTYPE html>
{% if page %}
<html lang="{{ page.lang }}">
{% elif section %}
<html lang="{{ section.lang }}">
{% else %}
<html lang="{{ config.default_language }}">
{% endif %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {%- block head -%}
    {%- endblock head %}
</head>

<body>
    <header>
        {%- block menu -%}
        <div class="menu_left">
            <div class="menu_section menu_entry"><a href="{{ get_url(path="/") }}">Home</a></div>
            {%- set top = get_section(path="_index.md") -%}
            {%- for path in top.subsections -%}
            {%- set sec = get_section(path=path, metadata_only=true) %}
            <div class="menu_section menu_entry"><a href="{{ sec.permalink }}">{{ sec.title }}</a></div>
            {%- endfor %}
        </div>
        <div class="menu_right">
            {%- for page in top.pages -%}
            {%- if not page.slug == "legal" -%}
            <div class="menu_page menu_entry"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
            {%- endif -%}
            {%- endfor %}
        </div>
        {%- endblock menu -%}
    </header>
    <main>
        <div class="content">
            {% if page %}
            {{ macros::breadcrumbs(page=page) }}
            {% elif section %}
            {{ macros::breadcrumbs(page=section) }}
            {% endif %}
            {%- block content -%}
            {%- endblock content -%}
        </div>
    </main>
    <footer>
        {%- block footer -%}
        <a href="/legal">Legal Disclosure</a>
        {%- endblock footer -%}
    </footer>
</body>

</html>