{% macro list_pages(pages) %}
{% for page in pages %}
<h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
{% endfor %}
{% endmacro list_posts %}

{% macro breadcrumbs(page) %}
<div class="breadcrumbs">
	{% for entry in page.ancestors %}
	{%- set section = get_section(path=entry) -%}
	<div><a class="breadcrumb-entry" href="{{ section.path }}">{{ section.title}}</a></div>
	<div class="breadcrumb-div"></div>
	{% endfor %}
	<div><a class="breadcrumb-entry" href="{{ page.path }}">{{ page.title}}</a></div>
	<div class="breadcrumb-div"></div>
</div>
{% endmacro breadcrumbs %}