{% extends "base.html" %}

{% block content %}
<a href="{{ page.path }}">
	<h1>{{ page.title }}</h1>
</a>
{% if page.date %}<div class="date">{{ page.date }}</div>{% endif %}
{{ page.content | safe }}
{% endblock content %}