{% extends "base.html" %}

{% block title -%}
{{ section.title }}
{%- endblock %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{% for page in section.pages %}
<hr>
<a href={{ page.path }}>
    <h2>{{ page.title }}</h2>
</a>
{% if page.date %}<div class="date">{{ page.date }}</div>{% endif %}
{{ page.content | safe }}
{% endfor %}
{% endblock content %}